.option-popup {
    $bg-col: $primary-1;
    
    background-color: $bg-col;
    color: $primary-3;
    border-radius: $borer-radius;
    outline: none;
    box-shadow: $shadow;

    &__content {
        display: flex;
        flex-flow: column nowrap;
        gap: 1.75rem;
        
        &__header {
            font: 700 2.25em/1 $ff-accent;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                margin-top: 0.5rem;
                border-bottom: 2px solid lighten($primary-3, 70%);
            }
        }
    
        &__body {
            font-size: 1.2em;
        }
    
    }

    &__button {
        font: 450 1.25rem/1 $ff-primary;
        color: $bg-col;
        background-color: $accent-1;

        padding: 0.5em 1.25em;

        border-radius: $borer-radius;
        border-bottom-width: 0.1em;
        border-bottom-style: solid;
        border-bottom-color: darken($accent-1, 30%);

        transition: background-color 0.1s ease-in-out;

        &:not([disabled]):hover {
            background-color: lighten(saturate($accent-1, 10%), 5%);
        }
    }
}