.option {
    display: flex;
    height: max-content;
    margin: 0.75em 1em;
    padding: 0.5em;
    
    border-radius: 0.25em;

    justify-content: space-between;
    align-items: center;
    gap: 1em;
   
    &__index {
        font-weight: 500;
        font-size: 1.25em;
        color: lighten($text, 40%);
    }

    &__option-text {
        max-height: 3.2em;
        padding: 0.1em;
        flex-grow: 1;
        
        font-weight: 400;
        overflow: auto;
        line-height: 1;
    }

    &__remove-option {
        font-size: 0.9em;
        font-family: 'Rubik';
        font-weight: 600;

        text-align: center;

        color: rgba($text, 0.3);
        background-color: #00000000;
        
        transition: all 150ms ease-out;

        &:hover {
            font-weight: 450;
            color: rgba($text, 0.6);
        }
    }
}